@font-face {
  font-family: "Neue Montreal";
  src: url(./assets/Neue-montreal/NeueMontreal-Regular.otf);
}
@font-face {
  font-family: "Neue Montreal Light";
  src: url(./assets/Neue-montreal/NeueMontreal-Light.otf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Neue Montreal";
  color: black;
}
body {
  display: flex;
  flex-direction: column;
}
main:nth-child(1) {
  background-image: url(./assets/hero_animation.mp4);
  background-position: 50% 0%;
  background-repeat: no-repeat;

  margin: 0%;
}
.nav_bar {
  height: 11vh;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 0% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  z-index: 100;
  font-size: 1rem;
}
.nav_bar > * {
  height: 100%;
}
#title {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
}
#section_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav_link {
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 5px;
  letter-spacing: 2px;
}
/* @keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
} */
/* .strike {
  position: relative;
}
.strike:hover {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #a0b2e0;
  animation-name: strike;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */
#title > img {
  width: 6rem;
}
#title_text {
  margin-top: 5px;
}
.nav_left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#nav_right {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  gap: 2rem;
}
#bag {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.hero_section {
  position: relative;
  height: 89dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#hiddenVideo {
  position: relative;
}
.hero_area {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  z-index: 100;
}
.hero_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero_text_top {
  font-size: 1.5rem;
}
#hero_text_bottom {
  font-size: 2.5rem;
}
.new_arrivals {
  background-color: white;
  z-index: 50;
}
.new_arrivals_header {
  font-family: "Neue Montreal Light";
  font-weight: 600;
  text-align: center;
  padding: 2.5rem 0;
  font-size: 2rem;
}
.new_arrivals_main {
  width: 98%;
  display: flex;
  flex-direction: column;
  padding: 0% 1%;
}

.arrivals_main_top,
.arrivals_main_bottom {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
}
.new_item {
  margin: 0.5%;
  height: max-content;
  font-family: "Neue Montreal Light";
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.new_item > img {
  width: 100%;
  height: 80%;
}
.collections {
  display: flex;
  flex-direction: column;
}
.collections_top {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
  justify-content: center;
}
.collection1 {
  width: 100%;
  height: 100%;
  background-image: url(/assets/tops.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  font-size: 2rem;
}

.collection2 {
  width: 100%;
  height: 100%;
  background-image: url(/assets/accessories.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  font-size: 2rem;
}
.collection1 > h1 {
  color: white;
}
.collection2 > h1 {
  color: white;
}
.shop_now_btn {
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.2rem;
}
.shop_now_btn:hover {
  transition: 0.3s ease-in;
  background-color: black;
  color: white;
}
.collections_bottom {
  background-image: url(/assets//SS23.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 1%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#collections_bottom_text {
  color: white;
  font-size: 3rem;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger_bar {
  display: block;
  width: 2rem;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  -webkit-transition: all 0.3s, ease-in-out;
  transition: all 0.3s, ease-in-out;
}
.services {
  display: flex;
  flex-direction: column;
}
.services_top {
  display: grid;
  grid-template-columns: 21% 21% 21% 21%;
  gap: 5%;
  padding: 2%;
  justify-content: center;
}
.service_img > img {
  width: 100%;
}
.services_bottom {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0;
  justify-content: center;
}
.service {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 12% 0;
}
.service > img {
  width: 3.5rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
}
.footer_left {
  display: flex;
  gap: 8%;
}
.footer_links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer_links > h3 {
  font-size: 16px;
  white-space: nowrap;
}
.footer_links > div > a {
  color: #868886;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
}
.footer_right {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 15%;
}
.footer_right > p {
  color: #868886;
  font-size: 14px;
}
.footer_right > h3 {
  font-size: 16px;
}
#discount_btn {
  padding: 1rem 0;
  color: white;
  background-color: black;
  width: 40%;
  border: none;
}
#discount_btn:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}
@media only screen and (width < 800px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .hamburger_bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .hamburger_bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .hamburger_bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #section_links {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 40%;
    right: -100%;
    top: 10vh;

    background-color: white;
    gap: 0;
    z-index: 100;
    transition: 0.3s;
  }
  #section_links.active {
    width: 100vw;
    height: 25vh;
    right: 0%;
    gap: 1rem;
    padding-top: 0.5rem;
  }
  .collections_top {
    display: flex;
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer_left {
    width: 100%;
    gap: none;
    padding: 0 5rem;
    justify-content: space-between;
  }
  .footer_right {
    width: 100%;
    align-items: center;
    margin-top: 5%;
    gap: 2rem;
  }
}
@media only screen and (width < 600px) {
  #hero_text_top {
    font-size: 1rem;
  }
  #hero_text_bottom {
    font-size: 1.5rem;
  }
  .new_item > p,
  span {
    font-size: 0.6rem;
  }
}
